<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mysite.dao.CommentDao">

    <resultMap id="CommentMap" type="com.mysite.model.po.Comment">
        <id column="coid" jdbcType="INTEGER" property="coid"/>
        <result column="cid" jdbcType="INTEGER" property="cid"/>
        <result column="created" jdbcType="INTEGER" property="created"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="author_id" jdbcType="INTEGER" property="authorId"/>
        <result column="owner_id" jdbcType="INTEGER" property="ownerId"/>
        <result column="mail" jdbcType="VARCHAR" property="mail"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="agent" jdbcType="VARCHAR" property="agent"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="parent" jdbcType="INTEGER" property="parent"/>
    </resultMap>
    <sql id="BASE_TABLE">
        t_comments
    </sql>

    <!-- 基本列 -->
    <sql id="BASE_COLUMN">
        cm.coid, cm.cid, cm.created, cm.author, cm.author_id, cm.owner_id, cm.mail,
        cm.url, cm.ip, cm.agent, cm.type, cm.status, cm.parent, cm.content
    </sql>

    <!-- 新增评论 -->
    <insert id="addComment" parameterType="com.mysite.model.po.Comment">
        INSERT INTO
        <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            cid, created, author, author_id, owner_id, mail,
            url, ip, agent, type, status, parent, content,
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{cid,jdbcType=INTEGER}, #{created, jdbcType=INTEGER},
            #{author, jdbcType=VARCHAR}, #{authorId, jdbcType=INTEGER}, #{ownerId, jdbcType=INTEGER},
            #{mail, jdbcType=VARCHAR}, #{url, jdbcType=VARCHAR}, #{ip, jdbcType=VARCHAR}, #{agent, jdbcType=VARCHAR},
            #{type, jdbcType=VARCHAR}, #{status, jdbcType=VARCHAR}, #{parent, jdbcType=INTEGER}, #{content, jdbcType=LONGVARCHAR},
        </trim>
    </insert>

    <!-- 删除评论 -->
    <delete id="deleteComment">
        DELETE FROM
        <include refid="BASE_TABLE"/>
        WHERE coid = #{coid, jdbcType=INTEGER}
    </delete>

    <!-- 更新评论的状态 -->
    <update id="updateCommentStatus">
        UPDATE
        <include refid="BASE_TABLE"/>
        SET status = #{status, jdbcType=VARCHAR}
        WHERE coid = #{coid, jdbcType=INTEGER}
    </update>

    <select id="getCommentById" resultMap="CommentMap">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/> AS cm
        WHERE cm.coid = #{coid, jdbcType=INTEGER}
    </select>

    <!-- 根据文章的主键获取评论列表:只显示正常的评论 -->
    <select id="getCommentsByCId" resultMap="CommentMap">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/> AS cm
        WHERE cm.cid =  #{cid,jdbcType=INTEGER}
        AND cm.status = 'approved'
        ORDER BY cm.created
    </select>

    <!-- 根据条件查找评论列表 -->
    <select id="getCommentsByCond" resultMap="CommentMap"
            parameterType="com.mysite.model.query.CommentQuery">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/> AS cm
        <where>
            <if test="status != null">
                AND cm.status = #{status, jdbcType=VARCHAR}
            </if>
            <if test="startTime != null">
                AND cm.created &gt;= #{startTime, jdbcType=INTEGER}
            </if>
            <if test="endTime != null">
                AND cm.created &lt;= #{endTime, jdbcType=INTEGER}
            </if>
            <if test="parent != null">
                AND cm.parent = #{parent,jdbcType=INTEGER}
            </if>
        </where>
        ORDER BY cm.created
    </select>

    <select id="getCommentsCount" resultType="java.lang.Long">
        SELECT count(*)
        FROM
        <include refid="BASE_TABLE"/>
    </select>


</mapper>